{{!-- <article>
    {{#each articles}}
    {{#if image}}
    <img src="/assets/img/{{image}}" alt="{{alt}}">
    {{/if}}
    <h3>{{title}}</h3>
    <h4>{{binaryLiteral "Written by "}}{{binaryLiteral reader.user}}{{binaryLiteral " at: "}}{{binaryLiteral createdAt}}{{binaryLiteral ", keywords: "}}{{binaryLiteral keywords}}</h4>
    <section>{{binaryLiteral article}}</section>
    <h4><a><button type="button" class="neatasabutton">Neat!</button></a> {{binaryLiteral ohNeat}}{{binaryLiteral "people thought this was neat. "}}<a><button type="button" class="literalpage"> {{binaryLiteral comments.length}}{{binaryLiteral "more comments:"}}</button></a></h4>
    {{/each}}
</article> --}}