<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap" rel="stylesheet">
    {{#if blackpage}}
    <link rel="stylesheet" href="/assets/style/styleblack.css">
    {{else}}
    <link rel="stylesheet" href="/assets/style/stylewhite.css">
    {{/if}}
    <title>{{"binary literal"}}</title>
</head>

<body>
    <header>
        <h1>binary literal</h1>
        {{#if blackpage}}
        <img src="/assets/img/xbinaryStringLiteralWhite.png" alt="binary linear element">
        {{else}}
        <img src="/assets/img/xbinaryStringLiteralBlack.png" alt="binary linear element">
        {{/if}}
        {{#if loggedin}}
        <nav>
            <button id="home"><a href="/"><img src="/assets/img/ccHomeGrey.png" alt="home"></a></button>
            <button id="write"><a href="/write"><img src="/assets/img/ccUploadGrey.png" alt="upload"></a></button>
            <button id="logout"><a href="/login"><img src="/assets/img/ccLogoutGrey.png" alt="logout"></a></button>
        </nav>
        {{else}}
        <nav>
            <button id="home"><a href="/login"><img src="/assets/img/ccHomeGrey.png" alt="home"></a></button>
            <button id="write"><a href="/login"><img src="/assets/img/ccUploadGrey.png" alt="upload"></a></button>
            <button id="logout"><a href="/login"><img src="/assets/img/ccLoginGrey.png" alt="logout"></a></button>
        </nav>
        {{/if}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        common use licence 2022, codeclast
    </footer>
    {{#if loggedin}}
    <script src="/assets/script/logout.js"></script>
    {{else}}
    <script src="/assets/script/login.js"></script>
    {{/if}}
</body>

</html>