<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap" rel="stylesheet">
    {{#if blackpage}}
    <link rel="stylesheet" href="/assets/style/styleblack.css">
    {{else}}
    <link rel="stylesheet" href="/assets/style/stylewhite.css">
    {{/if}}
    <title>binary literal</title>
</head>
<body>
    <header>
        <h1>binary literal</h1>
        {{#if blackpage}}
        <img src="/assets/img/xbinaryStringLiteralWhite.png" alt="">
        {{else}}
        <img src="/assets/img/xbinaryStringLiteralBlack.png" alt="">
        {{/if}}
        {{#if loggedin}}
        <nav>
            <button id="home"><a href="/"><img src="/assets/img/ccHomeBlack.png" alt="home"></a></button>
            <button id="write"><img src="/assets/img/ccUploadBlack.png" alt="upload"></button>
            <button id="logout"><img src="/assets/img/ccLogoutBlack.png" alt="logout"></button>
        </nav>
        {{else}}
        <nav>
            <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
            <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
            <button><a href="/signup"><img src="/assets/img/ccLoginWhite.png" alt="login"></a></button>
        </nav>
        {{/if}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        common use licence, codeclast date
    </footer>
    {{#if loggedin}}
    <script src="/assets/script/logout.js"></script>
    {{else}}
    <script src="/assets/script/login.js"></script> 
    {{/if}}
</body>
</html>