<section>
    <form class="editor">
        <div>
            <h3>Welcome to the Edit Suite:</h3>
        </div>
        <div>
            <label for="title">Edit the title of your article:</label>
            <textarea name="title" id="title">{{title}}</textarea>
        </div>
        <div>
            <label for="imagename">Edit the image name:</label>
            <textarea name="imagename" id="imagename">{{image}}</textarea>
        </div>
        <div>
            <label for="imagename">Edit the image alt text:</label>
            <textarea name="altimgtext" id="altimgtext">{{imageAlt}}</textarea>
        </div>
        <div>
            <label for="keywords">Edit the keywords:</label>
            <textarea name="keywords" id="keywords">{{keywords}}</textarea>
        </div>
        <div>
            <label for="textfield">Edit the article:</label>
            <textarea name="textfield" id="textfield">{{article}}</textarea>
        </div>
        <div>
            <button type="submit" id="publish">republish -></button>
        </div>
    </form>
</section>
{{!-- script here --}}