<article>
    <img src="/assets/img/{{image}}" alt="{{alt}}">
    <h3>{{title}}</h3>
    <h4>Written by {{reader.user}} at: {{createdAt}}, keywords: {{keywords}}</h4>
    <section>{{article}}</section>
    <h4><a href="" alt="Neat!">Neat!</a> {{ohNeat}} people thought this was neat. <a href="" alt="more comments">-> {{comments.length}} comments:</a></h4>
</article>